[submodule "framework"]
	path = framework
	url = https://github.com/livestreet/livestreet-framework.git
[submodule "application/plugins/admin"]
	path = application/plugins/admin
	url = https://github.com/livestreet/lsplugin-admin
[submodule "application/plugins/fix_category"]
	path = application/plugins/fix_category
	url = https://github.com/olezhikz/livestreet-fix-category
[submodule "application/plugins/sociality"]
	path = application/plugins/sociality
	url = https://olezhikz:GfhjkmLkzBitbucket@bitbucket.org/olezhikz/livestreet-sociality.git
[submodule "application/plugins/ymaps"]
	path = application/plugins/ymaps
	url = https://olezhikz:GfhjkmLkzBitbucket@bitbucket.org/olezhikz/livestreet-ymaps.git
